* {
    box-sizing: border-box;
    margin: 0 auto;
}

/************************************************************ header */
.header {
    display: flex;
    background-color: #171717;
    height: 70px;
}

/************************************************************ header burger menu */
.header__burger {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.fn-burger__button_toggle {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.burger__line1,
.burger__line2,
.burger__line3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

.burger__line1.change  {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.burger__line2.change  {
    opacity: 0;
}

.burger__line3.change  {
    transform: rotate(45deg) translate(-8px, -8px);
}

.burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 600px;
    height: 100%;
    padding: 100px 10px 0 60px;
    background-color: #171717;
    z-index: 2;
}

.burger__menu_hidden {
    display: none;
}

.menu {
    list-style: none;
}

.menu__logo {
    position: absolute;
    top: 15px;
    left: 85px;
}

.menu__item {
    display: block;
    padding: 17px 0;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__item:hover {
    color: #ed8b06;
    transition-duration: 0.4s;
}

/************************************************************ header logo */
.header__logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.header__logo .logo__iconCasino {
    display: none;
}

/************************************************************ header menu */
.header__menu {
    display: flex;
    align-items: center;
}

.header__menu .menu__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu__list .menu__link {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 23px 0;
    margin: 0 15px;
    white-space: nowrap;
}

.menu__list .menu__link:hover {
    color: #ed8b06;
    transition-duration: 0.4s;
}

.menu__link.menu__link_state_active {
    color: #ed8b06;
    border-bottom: 3px solid #ed8b06;
}

/************************************************************ header buttons */
.header__buttons {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.button {
    width: 100px;
    height: 45px;
    margin: 0 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button.button_logIn {
    background-color: #ed8b00;
}

.button.button_registration {
    background-color: #6fb315;
}

.button.button_logIn:hover,
.button.button_registration:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
}

/************************************************************ slider */
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    /*height: 350px;*/
    position: relative;
}

.slider__img {
    display: flex;
}

.content__text {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 55px;
    color: #fff;
}

.content__button {
    position: absolute;
    top: 60%;
    left: 20%;
    height: 70px;
    width: 300px;
    text-align: center;
    background-color: #6d9910;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 35px;
    letter-spacing: 3px;
}

.button_next {
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
}

.button_previous {
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
}

.paginations__indicators {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 45%;
    display: flex;
    list-style: none;
    padding: 0;
}

.paginations__indicator {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
}

.paginations__indicator_active {
    background-color: #ed8b06;
}

/************************************************************ main menu */
.menu__gamesInfo {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: linear-gradient(#e7e7e7, #989898);
    overflow-x: hidden;
}

.gamesNav,
.gamesFilters {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.gamesNav__item,
.gamesFilters__item {
    display: block;
    text-decoration: none;
    width: 115px;
    height: 100%;
    border-right: 1px solid #bbbbbb;
    /*border-left: 1px solid #bbbbbb;*/
    text-align: center;
    padding-top: 50px;
    color: #000;
    font-family: sans-serif;
    font-size: 13px;
}

.gamesFilters__item:first-child {
    border-left: 1px solid #bbbbbb;
    border-right: none;
}

.gamesNav__item:hover,
.gamesFilters__item:hover {
    background-color: #969696;
    transition-duration: 0.5s;
}

.fn-gamesFilters__item_search:hover {
    width: 350px;
    background-position: 5% 50%;
    background-color: #ed8b06;
}

.gamesNav__item_active {
    background-color: #fff;
}

.gamesNav__item_topGamesIcon {
    background-image: url("img/cup.png");
    background-size: 42px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

.gamesNav__item_premiumIcon {
    background-image: url("img/diamond.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.fn-gamesFilters__item_search {
    background-image: url("img/search.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ed8b06;
}

.gamesFilters__itemInput {
    display: none;
    height: 50px;
    position: relative;
    top: -40px;
    font-size: 20px;
    border: none;
    background-color: #ed8b06;
}

.fn-gamesFilters__item_search:hover .gamesFilters__itemInput {
    display: block;
    width: 260px;
    left: 40px;
    transition-duration: 1s;
}

/************************************************************ games */
.gamesContainer {
    max-width: 1400px;
    padding: 20px 20px 0 20px;
}

.category__heading {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
    font-family: sans-serif;
}

.category__title {
    padding: 10px 40px;
    margin: 0;
    width: 90%;
    border-bottom: 1px solid #000;
}

.category__link {
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    border-radius: 10px;
}

.category__link:hover {
    background-color: #9c9c9c;
}

.category__title::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    background-image: url("img/star.png");
    width: 20px;
    height: 20px;
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.games__itemMain {
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.games__itemMain:hover {
    transition-duration: 0.5s;
    border-radius: 40px;
    transform: scale(1.02);
}

.games__items {
    width: 60%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.games__item {
    position: relative;
    width: 24%;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}

.games__item:hover {
    transition-duration: 0.5s;
    transform: scale(1.05);
}

.games__jackpotTitle {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
}

.games__img {
    height: 100%;
}
/************************************************************ media */
@media (max-width: 567px) {
    .burger__menu {
        width: 100%;
    }

    .games {
        display: block;
    }

    .games__itemMain {
        width: 100%;
        height: 400px;
    }

    .games__items {
        width: 100%;
        height: 100%;
        margin-top: 5px;
        overflow: visible;
        justify-content: center;
    }

    .games__item {
        width: 30%;
        height: 170px;
        margin: 5px;
    }

    .games__jackpotTitle {
        font-size: 16px;
    }

    .games__item:hover {
        transition-duration: 0.5s;
        transform: scale(1.05);
    }
}

@media (max-width: 960px) {
    .header__menu {
        overflow-x: scroll;
    }

    .header__buttons {
        display: none;
    }
}

@media (max-width: 1180px) {
    .menu__gamesInfo {
        overflow-x: scroll;
    }

    .header__logo .logo__logoTablet {
        display: none;
    }

    .header__logo .logo__iconCasino {
        height: 55px;
        display: block;
        margin-top: 5px;
    }

    .header__buttons .button {
        width: 90px;
        height: 40px;
        font-size: 14px;
    }

    .menu__item .menu__link {
        font-size: 12px;
    }
}
