* {
    box-sizing: border-box;
    margin: 0 auto;
}

/************************************************************ header */
.header {
    display: flex;
    background-color: #171717;
    height: 70px;
}

/************************************************************ header burger menu */
.header__burger {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.fn-burger__button_toggle {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.burger__line1,
.burger__line2,
.burger__line3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
}

.burger__line1.change  {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.burger__line2.change  {
    opacity: 0;
}

.burger__line3.change  {
    transform: rotate(45deg) translate(-8px, -8px);
}

.burger__menu {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 600px;
    height: 100%;
    padding: 100px 10px 0 60px;
    background-color: #171717;
    z-index: 2;
}

.burger__menu_hidden {
    display: none;
}

.menu {
    list-style: none;
}

.menu__logo {
    position: absolute;
    top: 15px;
    left: 85px;
}

.menu__item {
    display: block;
    padding: 17px 0;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__item:hover {
    color: #ed8b06;
    transition-duration: 0.4s;
}

/************************************************************ header logo */
.header__logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.header__logo .logo__iconCasino {
    display: none;
}

/************************************************************ header menu */
.header__menu {
    display: flex;
    align-items: center;
}

.header__menu .menu__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu__list .menu__link {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 23px 0;
    margin: 0 15px;
    white-space: nowrap;
}

.menu__list .menu__link:hover {
    color: #ed8b06;
    transition-duration: 0.4s;
}

.menu__link.menu__link_state_active {
    color: #ed8b06;
    border-bottom: 3px solid #ed8b06;
}

/************************************************************ header buttons */
.header__buttons {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.button {
    width: 100px;
    height: 45px;
    margin: 0 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button.button_logIn {
    background-color: #ed8b00;
}

.button.button_registration {
    background-color: #6fb315;
}

/************************************************************ slider */
.slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

.slider__img {
    display: flex;
    overflow: hidden;
}

/*.content__text {*/
/*    !*position: absolute;*!*/
/*    !*top: 176px;*!*/
/*    !*left: 300px;*!*/
/*    !*font-size: 65px;*!*/
/*    !*color: #fff;*!*/
/*}*/

/*.content__button {*/
/*    !*position: absolute;*!*/
/*    !*top: 280px;*!*/
/*    !*left: 300px;*!*/
/*    !*height: 70px;*!*/
/*    !*width: 300px;*!*/
/*    !*text-align: center;*!*/
/*    !*background-color: #6d9910;*!*/
/*    !*cursor: pointer;*!*/
/*    !*border-radius: 10px;*!*/
/*    !*border: none;*!*/
/*    !*color: #fff;*!*/
/*    !*font-size: 35px;*!*/
/*    !*letter-spacing: 3px;*!*/
/*}*/

/*.button_next {*/
/*    !*position: absolute;*!*/
/*    !*top: 180px;*!*/
/*    !*right: 20px;*!*/
/*    !*font-size: 50px;*!*/
/*    !*color: #fff;*!*/
/*    !*background-color: rgba(0, 0, 0, 0.5);*!*/
/*    !*border-radius: 50%;*!*/
/*    !*width: 70px;*!*/
/*    !*height: 70px;*!*/
/*}*/

/*.button_previous {*/
/*    !*position: absolute;*!*/
/*    !*top: 180px;*!*/
/*    !*left: 20px;*!*/
/*    !*font-size: 50px;*!*/
/*    !*color: #fff;*!*/
/*    !*background-color: rgba(0, 0, 0, 0.5);*!*/
/*    !*border-radius: 50%;*!*/
/*    !*width: 70px;*!*/
/*    !*height: 70px;*!*/
/*}*/

/*.paginations__indicators {*/
/*    !*position: absolute;*!*/
/*    !*z-index: 1;*!*/
/*    !*left: 420px;*!*/
/*    !*bottom: 20px;*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: center;*!*/
/*    !*list-style: none;*!*/
/*}*/

/*.paginations__indicator {*/
/*    !*width: 15px;*!*/
/*    !*height: 15px;*!*/
/*    !*margin: 5px;*!*/
/*    !*border-radius: 50%;*!*/
/*    !*background-color: #fff;*!*/
/*}*/

/*.paginations__indicator_active {*/
/*    !*background-color: #ed8b06;*!*/
/*}*/

/************************************************************ main menu */
.menu__gamesInfo {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: linear-gradient(#e7e7e7, #989898);
    overflow-x: hidden;
}

.gamesNav,
.gamesFilters {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.gamesNav__item,
.gamesFilters__item {
    display: block;
    text-decoration: none;
    width: 115px;
    height: 100%;
    border-right: 1px solid #bbbbbb;
    /*border-left: 1px solid #bbbbbb;*/
    text-align: center;
    padding-top: 50px;
    color: #000;
    font-family: sans-serif;
    font-size: 13px;
}

.gamesFilters__item:first-child {
    border-left: 1px solid #bbbbbb;
    border-right: none;
}

.gamesNav__item:hover,
.gamesFilters__item:hover {
    background-color: #969696;
    transition-duration: 0.5s;
}

.fn-gamesFilters__item_search:hover {
    width: 350px;
    background-position: 5% 50%;
    background-color: #ed8b06;
}

.gamesNav__item_active {
    background-color: #fff;
}

.gamesNav__item_topGamesIcon {
    background-image: url("img/cup.png");
    background-size: 42px;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

.gamesNav__item_premiumIcon {
    background-image: url("img/diamond.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}

.fn-gamesFilters__item_search {
    background-image: url("img/search.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ed8b06;
}

.gamesFilters__itemInput {
    display: none;
    height: 50px;
    position: relative;
    top: -40px;
    font-size: 20px;
    border: none;
    background-color: #ed8b06;
}

.fn-gamesFilters__item_search:hover .gamesFilters__itemInput {
    display: block;
    width: 260px;
    left: 40px;
    transition-duration: 1s;
}

/************************************************************ media */
@media (max-width: 567px) {
    .burger__menu {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .header__menu {
        overflow-x: scroll;
    }

    .header__buttons {
        display: none;
    }
}

@media (max-width: 1180px) {
    .menu__gamesInfo {
        overflow-x: scroll;
    }

    .header__logo .logo__logoTablet {
        display: none;
    }

    .header__logo .logo__iconCasino {
        height: 55px;
        display: block;
        margin-top: 5px;
    }

    .header__buttons .button {
        width: 90px;
        height: 40px;
        font-size: 14px;
    }

    .menu__item .menu__link {
        font-size: 12px;
    }
}
